############################
# Python
############################

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/

venv/
.venv/
env/

############################
# Environment
############################

.env
.env.*

############################
# Database
############################

*.db
*.sqlite3

############################
# IDE
############################

.idea/
.vscode/

############################
# Logs
############################

*.log

############################
# Angular
############################

anime-frontend/node_modules/
anime-frontend/.angular/
anime-frontend/dist/
anime-frontend/.cache/

############################
# Python build
############################

build/
dist/

############################
# OS
############################

.DS_Store
Thumbs.db

############################
# Coverage
############################

coverage/
htmlcov/

############################
# Misc
############################

*.tmp
*.bak
*.swp